[submodule "lab1"]
	path = lab1
	url = https://github.com/chintadinesh/ll_comp_arch_lab1
[submodule "ll_comp_arch_lab2"]
	path = ll_comp_arch_lab2
	url = https://github.com/chintadinesh/ll_comp_arch_lab2
